@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #f8f8ff;
  --font-pixelify: "Pixelify", sans-serif;
  --font-vt323: "vt323", sans-serif;
  /* --color-light: #f8f8ff;
  --color-dark: #171717; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-vt323);
  background: url("../assets/image/my-portfolio-landing-bg.jpeg") no-repeat
    fixed center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-pixelify);
}
