@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f8ff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-pixelify: "Pixelify", sans-serif;
    --font-vt323: "vt323", sans-serif;
  }
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: var(--font-vt323);
  background-image: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-pixelify);
}
